<div class="hero {{ post.darken_hero_image ? 'hero--creation' : '' }}" 
{% if hero.image %}
style="background-image: url('{{ get_image(hero.image).src }}');"
{% endif %}
>
  <div class="container mx-auto px-4 flex flex-col justify-end">
    {% if post.post_type == 'creation' %}
    <span class="hero__subtitle h4">Case Study</span>
    {% endif %}
    <div class="typing-wrap">
      <h1>{{ hero.page_title ? hero.page_title : post.title }}</h1>
    </div>
  </div>
  
</div>