.bg-dark,
.bg-image,
.bg-custom,
.bg-gradient {
  color: white;
}

.bg-dark {
  background-color: $dark;
}

.bg-image {
  position: relative;

  &--darken {
    > .container {
      position: relative;
      z-index: 1;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      background-color: $dark;
      z-index: 1;
      mix-blend-mode: multiply;
    }
  }
}

.bg-light {
  background-color: white;
  color: $dark;
}

.bg-gradient {
  background: rgb(192, 80, 94);
  background: linear-gradient(
    308deg,
    rgba(192, 80, 94, 1) 0%,
    rgba(244, 151, 11, 1) 44%,
    rgba(244, 151, 11, 1) 55%,
    rgba(192, 80, 94, 1) 100%
  );
}
