.boxed-style {
  border: 2px solid $white;

  .services-title {
    //padding: 0;
    height: 0;
  }

  h2 {
    transform: translateY(-3.4rem);
    background-color: $dark;
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.bg-light {
  .boxed-style {
    border: 2px solid $dark;

    h2 {
      background-color: $white;
    }
  }
}
