.button {
  border-radius: 500px;
  background-color: white;
  color: #222;
  font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  padding: 0.6rem 1.5rem;
  display: inline-block;
}
