p,
ol,
ul,
table {
  font-size: rem(18);
  line-height: 1.6;
  color: $grey;
  margin-bottom: 1rem;
}

ol {
  list-style: decimal;
}

.bg-dark,
.bg-image,
.bg-custom,
.bg-gradient {
  p,
  ol,
  ul,
  table {
    color: white;

    a {
      color: $orange;
    }
  }
}

.bg-light {
  p,
  ol,
  ul,
  table {
    color: $grey;
  }
}
