<div class="container mx-auto px-4">
  <div class="text-center pb-8">
    <h2>{{ block.title }}</h2>
    {{ block.text }}
  </div>

  {{ fn('do_shortcode', '[contact-form-7 id="f45100a" title="Contact Form"]') }}
</div>