<div class="image-full {{ block.parallax ? 'parallax parallax--static' : '' }}">
  <img class="{{ block.parallax ? 'parallax__image' : '' }}" src="{{ get_image(block.image).src }}" alt="{{ get_image(block.image).alt }}">
</div>