{% set news = get_news(block.shown_posts) %}

<div class="container mx-auto px-4">
 
  <div class="max-w-6xl mx-auto">
    <div class="md:grid grid-cols-12 gap-8">
      {% for item in news %}
        <div class="md:col-span-6 lg:col-span-4 mb-8 md:mb-0 flex" data-aos="fade-up">
          {% include 'partials/teaser.twig' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>