<div class="container px-4 mx-auto">
  <div class="lg:grid lg:grid-cols-12 lg:gap-4">
    <div class="lg:col-span-6">
      <figure class="testimonial testimonial--{{ block.testimonial_size }}" data-aos="fade-left">
        <blockquote>
          {{ block.quote_text }}
        </blockquote>
        <figcaption><span>{{ block.author }}</span></figcaption>
      </figure>
    </div>
    
  </div>
</div>