<div class="container px-4 mx-auto">
  <div class="text-center py-24 grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-8 lg:col-start-3">
      <div class="wysiwyg wysiwyg--narrow-p">
        {{ block.text }}

        {% include 'partials/button.twig' %}
      </div>
    </div>
  </div>
</div>