{% extends 'layouts/base.twig' %}

{% block hero %}
  <div class="home-video">
    <div class="video-background">
      <iframe 
          title="Home page video."
          src="https://player.vimeo.com/video/1010507881?autoplay=1&muted=1&loop=1&background=1" 
          frameborder="0" 
          allow="autoplay; fullscreen" 
          allowfullscreen>
      </iframe>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="layout">
    {% include 'partials/layout.twig' %}
  </div>
{% endblock %}
