{% extends 'layouts/base.twig' %}

{% block hero %}
  <div class="home-video" data-vimeo-id="{{ hero_video.vimeo_id }}">
    <div class="video-background">
      <div class="video-background__facade">
        <img src="{{ get_image(hero_video.facade).src }}" alt="{{ get_image(hero_video.facade).alt }}">
      </div>
      <div class="video-iframe-placeholder"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="layout">
    {% include 'partials/layout.twig' %}
  </div>
{% endblock %}
