{% extends 'layouts/base.twig' %}

{% block hero %}
  <div class="home-video">
    <div class="video-background">
      <iframe 
        src="https://player.vimeo.com/video/{{ hero_video.vimeo_id }}?autoplay=1&muted=1&controls=0" 
        width="640" 
        height="360" 
        frameborder="0" 
        allow="autoplay; fullscreen" 
        allowfullscreen 
        title="home page video">
      </iframe>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="layout">
    {% include 'partials/layout.twig' %}
  </div>
{% endblock %}
