{% extends 'layouts/base.twig' %}

{% block content %}
  <article class="post-type-{{ post.type }}" id="post-{{ post.id }}">
    <div class="layout">
      {% include 'partials/layout.twig' %}
    </div>
  </article>
{% endblock %}
